.venv
.
..
...

__pycache__
core/__pycache__
modules/__pycache__
.DS_Store
.AppleDouble

._*
.Thrash
.Spotlight-V100
.Trashes
.nfs*
.fseventsd
build
dist
*.egg-info
*.pyc
*.pyo
*.pyd
*.so
*.dylib
*.swp
*.swo
fast_core/*.c
fast_core/*.cpp
fast_core/*.h
fast_core/*.pyd
fast_core/*.so
fast_core/*.dylib
fast_core/*.o
fast_core/browser.cpp
fast_core/browser.cpython-310-darwin.so
fast_core/browser.cpython-310-darwin.so